@import "tailwindcss";

/* Custom Tailwind */

@theme {
    /* Font */
    --font-jost: "Jost", sans-serif;

    /* Colors */
    --color-peach: #E7816B;
    --color-black: #1D1C1E;
    --color-white: #FFFFFF;
    --color-light-peach: #FFAD9B;
    --color-dark-grey: #333136;
    --color-light-grey: #F1F3F5;
}

/* Applies the Jost font to the entire HTML document */
@layer base {
    html {
        @apply font-jost;
    }
}

/* CSS */

* {
    box-sizing: border-box;
}

:root {
    --overlay: rgba(0,0,0,0.6);
}

body {
    margin: 0;
    padding: 0;
}

/* By default, apply the mobile background image to the product cards */
.project-card {
    background-image: linear-gradient(var(--overlay), var(--overlay)), var(--mobile-bg);
}

/* At the tablet breakpoint, apply the tablet background image to the product cards */
@media (min-width: 768px) {
    .project-card {
        background-image: linear-gradient(var(--overlay), var(--overlay)), var(--tablet-bg);
    }
}

/* At the desktop breakpoint, apply the desktop background image to the product cards */
@media (min-width: 1536px) {
    .project-card {
        background-image: linear-gradient(var(--overlay), var(--overlay)), var(--desktop-bg);
    }
}

/* Change the linear gradient to peach when hovering over/focused on a product card */
.project-card:hover {
    --overlay: rgba(231, 129, 107, 0.8);
}